<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BinanceAcountViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AcountViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BinanceAcountViewer.Properties.Settings>
            <setting name="TestData" serializeAs="String">
                <value>H:\Git\BinanceApi\binance-connector-dotnet\dataTest</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>D:\GitHub\binance\binance-downloader\binance_downloader\downloaded</value>
            </setting>
            <setting name="SelectedCurrency" serializeAs="String">
                <value>LTC</value>
            </setting>
            <setting name="Fee" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="PathToFileWithKeys" serializeAs="String">
                <value>D:\GitHub\MyGit\keys.txt</value>
            </setting>
            <setting name="PathToTradingStateReal" serializeAs="String">
                <value>D:\GitHub\MyGit\tradingStateReal.txt</value>
            </setting>
            <setting name="PathToTradingStateTrain" serializeAs="String">
                <value>D:\GitHub\MyGit\tradingStateTrain.txt</value>
            </setting>
        </BinanceAcountViewer.Properties.Settings>
    </userSettings>
</configuration>