<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BinanceAcountViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AcountViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BinanceAcountViewer.Properties.Settings>
            <setting name="TestData" serializeAs="String">
                <value>H:\Git\BinanceApi\binance-connector-dotnet\dataTest</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>D:\GitHub\binance\binance-downloader\binance_downloader\downloaded</value>
            </setting>
            <setting name="SelectedCurrency" serializeAs="String">
                <value>LTC</value>
            </setting>
            <setting name="Fee" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="PathToFileWithKeys" serializeAs="String">
                <value>D:\GitHub\MyGit\keys.txt</value>
            </setting>
        </BinanceAcountViewer.Properties.Settings>
        <AcountViewer.Properties.Settings>
            <setting name="User2Secret" serializeAs="String">
                <value>W1Ak865i2O0ohcZoLqXE6kaWaIISlYTFXPjU8vcWUe3GoFTwtymLaPzzl7uOa6FJ</value>
            </setting>
            <setting name="User2Key" serializeAs="String">
                <value>ByCzHnegYiKaFzM1NohefvYBBw8sI2yegw1LgvzpipWVqvvxMEkHaTyZfhD3Mof0</value>
            </setting>
            <setting name="User1Secret" serializeAs="String">
                <value>qMYSCJwlaValHP9GyFDmwiYJzNhgeM3OFQFUFu2f0dAMw70YvGUGiFZRSa3flJIH</value>
            </setting>
            <setting name="User1Key" serializeAs="String">
                <value>TEDGHQAy1EILMZU2ZRvkwVrUppCWXEKbg5r1hQh0KzvNljPaxhhjS17FB5F1Kojq</value>
            </setting>
        </AcountViewer.Properties.Settings>
    </userSettings>
</configuration>